@charset "UTF-8";

html,body{
margin: 0;
padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family:'Lobster', 'Noto Serif JP', sans-serif;
  line-height: 1.5;
  color: #888;
  display: none;
}

a {
  text-decoration: none;
}

.container{
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
}

/* ------------------------------ header共通 ------------------------------*/
.header {
  width: 100%;
}

.header__inner {
  max-width: 1230px;
  padding: 10px 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 300px;
}

.hamburger {
  display: none;
}

nav {
  display: flex;
}

.header-nav {
  display: flex;
  margin-top: 30px;
  list-style: none;
}

.header-nav__item{
  font-size: 1.75rem;
  margin-left: 40px;
}

.header-nav__item:first-child {
  margin-left: 0;
}

.header-nav__link{
  width: 100px;
  text-align: center;
  line-height: 50px;
  color: #888;
}

.hover_Uline{
position: relative;
cursor: pointer;
}

.hover_Uline::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #cc608f;
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform .2s;
}

.hover_Uline:hover:before {
  transform: scale(1);
}

.header-sns__link:last-child{
  margin-left: 30px;
}

.header-sns__link{
  color: #000;
}

/* ------------------------------ footer共通 ------------------------------*/
footer{
  width: 100%;

  padding: 20px 0;
  background-color: #afa07f;
  text-align: center;
}

.footer-copyright {
  color: #fff;
  font-size: 0.795rem;
  font-family: sans-serif;
}

/* ------------------------------ index-html ------------------------------*/

.content{
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.content-top{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__item {
  position: relative;
  text-align: center;
  animation-name: fadeIn;
  animation-duration: 3s;
}

@keyframes fadeIn {
  from{
    opacity: 0;
    transform: translateY(30px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.content__logo {
  max-width: 80%;
  padding: 20px 0;
}

.content__title {
  font-size: 2.5rem;
  font-family: 'Noto Serif JP';
  position: absolute;
  top: 75px;
  right: 150px;
}

.page__title {
  text-align: center;
}

.page__title-item {
  display: inline-block;
  font-size: 2rem;
  color: #5b5c76;
  border-bottom: 1px solid #b8b9c2;
}

/* ------------------------------ about.html ------------------------------*/

.topic__title{
  text-align: center;
  padding-bottom: 40px;
}

.topic__title-text {
  display: inline-block;
  font-size: 2.5rem;
  color: #5b5c76;
  border-bottom: solid 1px #5b5c76;
}

.topic__title-middle {
  padding-top: 20px;
}

.subtopic__title {
  text-align: center;
  padding-top: 20px;
}

.subtopic__title-text{
  display: inline-block;
  font-size: 1.375rem;
  font-family: Georgia;
  border-bottom: solid 1px;
}

.profile__maininfos{
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

.profile__img-wrapper {
  flex: 0 1 35%;
  align-items: center;
}

.profile__img-wrapper:first-child {
  margin-right: 20px;
}

.profile__img {
  width: 100%;
}

.profile__text {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.125rem;
}

.subinfos__basic,
.subinfos__langueges{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  border-bottom: 1px solid #ddd;
  padding: 30px 0;
}

.profile__subinfos__items-element{
  font-size: 1.375rem;
  font-family:Georgia;
  font-weight: bold;
  text-align: center;
}

.profile__subinfos__language{
  vertical-align: middle;
}

.profile__subinfos__icon-birthday{
  color: hotpink;
}

.profile__subinfos__icon-place{
  color: tomato;
}

.profile__subinfos__icon-study{
  color: #000;
}

.skill{
  align-items: center;
  margin: 0 auto;
}

.skill__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.skill__item-desc > p{
  font-size: 1.125rem;
  font-family: sans-serif;
}

.skill__item-icon{
  display: flex;
  flex: 0 1 7.5%;
  cursor: pointer;
}

.skill__item-star__img{
  width: 100%;
}

.skill__item-star{
  flex: 0 1 25%;
}

.skill__item-desc{
  flex: 0 1 53.33333%;
}

#tooltip {
  position: absolute;
  padding: 5px 20px;
  font-size: 1.275rem;
  border-radius: 5px;
  background: #cc608f;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
}

#tooltip::after {
  content: "";
  width: 0;
  border-top: 13px solid #cc608f;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  left: 0;
  margin-left: 13px;
}

#top_scroll {
  position: relative;
  z-index: 100;
  margin: 0;
  padding: 0;
}

#page-top {
  display: block;
  position: fixed;
  z-index: 9999;
  bottom: -250px;
  right: 10px;
  padding: 0;
  text-align: center;
  transition: 1s;
  -wbkit-transition: 1s;
  color: #000;
  font-family: Georgia;
}

#page-top:hover {
  background: ;
  transform: translateY(-10px);
}

.fadeIn {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 1s;
}

.fadeIn.active {
  opacity: 1;
  transform: translate(0, 0);

}

/* ------------------------------ works.html ------------------------------*/

.content-middle{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.topic__title-works{
  text-align: center;
  padding: 10px;
}

.topic__title-desc {
  font-size: 1rem;
}

.card__wrapper {
   margin-top: 2.5rem;
   margin-bottom: 2.5rem;
   width: 100%;
}

.card__items {
  width: 100%;
  list-style: none;
}

.card__img {
  max-width: 100%;
  height: auto;
  transition: all .3s ease;
}

.card__img:hover {
  background: #000;
  opacity: .7;
}

.card__title-wrapper {
display: flex;
justify-content: space-between;
padding-right: 10px;
padding-left: 10px;
margin-bottom: 10px;
}

.card__title,
.card__link-site {
  color: #cc608f;
  font-weight: bold;
  font-size: 1.25rem;
  font-family: sans-serif;
}

/* ------------------------------ contact.html ------------------------------*/

.main__wrapper {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.contactform {
  background: #ddd;
  border-radius: 5px;
  flex: 0 1 50%;
  text-align: center;
  width: 500px;
  height: 600px;
  padding: 10px;
  margin-right: 10%;
}

.contactform__item {
  padding: 25px 30px;
}

input {
  font: 15px/24px;
  font-family: sans-serif;
	box-sizing: border-box;
  width: 100%;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000;
	border: none;
	border-bottom: 2px solid #460720;
	background: transparent;
}

input[type='text']:focus {
	border-bottom: 2px solid #cc608f;
	outline: none;
}

textarea {
  width: 100%;
  padding: 0.3em;
  box-sizing: border-box;
  transition: 0.3s;
  letter-spacing: 1px;
  font-family: sans-serif;
  color: #000;
  border: 1px solid #460720;
  border-radius: 4px;
  background-color: #fff;
  height: 250px;
  resize: none;
}

textarea:focus {
  border: 2px solid #cc608f;
	outline: none;
}

input:focus::placeholder,
textarea:focus::placeholder {
	color: transparent;
}

.btn-wrapper {
  padding: 10px 0;
}

.btn {
  width: 150px;
  text-align: center;
  text-decoration: none;
  padding: 15px 10px;
  background: #cc608f;
  color: #460720;
  font-size: 1.125rem;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 16);
}

.btn:focus,
.btn:hover {
  background-color: #fff;
  border-color: currentColor;
  color: #cc608f;
  cursor: pointer;
  user-select: none;
}

.btn:active {
  box-shadow: none;
  position: relative;
  top: 6px;
}

.design-wrapper {
  display: flex;
  flex-direction: column;
}

.textbox-wrapper {
  display: flex;
  margin: 0 10px;
}

.textbox{
  position: relative;
  width: 250px;
  height: 180px;
  background-color: #ffddff;
  border: dashed 3px #cc608f;
  box-shadow: 0 0 0 10px #ffddff;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  justify-content: center;
  transform: rotate(-15deg);
}

.textbox p {
  position: absolute;
  font-size: 1.275rem;
  color: #460720;
  width: 250px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: 0;
  padding: 10px 0;
}

.textbox::before {
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #ffddff;
  bottom: -60px; left: 40px;
}

.textbox::after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #ffddff;
  bottom: -90px; left: 60px;
}

.design__logo {
  max-width: 100%;
}

/* ------------------------------ thanks.html ------------------------------*/

.item__container {
  padding: 30px 0px;
  text-align: center;
}

.btn__back {
  align-items: center;
  color: #fff;
  margin: 40px auto;
}

/* ------------------------------ モバイル用① ------------------------------*/

@media (max-width: 960px){
/* ------------------------------ モバイル① 共通 ------------------------------*/
.header__inner {
  flex-direction: column;
  align-items: center;
}

.header-nav{
  margin-top: 0;
  margin-bottom: 30px;
}

.hover_Uline::before,
.hover_Uline:hover:before {
  display: none;
}

.content__item,
.content__title {
  position: static;
  padding: 15px 0;
}

.content {
  text-align: center;
}

/* ------------------------------ モバイル① about.html ------------------------------*/

.profile__maininfos {
flex-direction: column;
}

.profile__img-wrapper {
  text-align: center;
  padding-bottom: 20px;
}

.profile__img {
 max-width: 50%;
}

.profile__img-wrapper:first-child {
  margin-right: 0px;
}

.element__language > span{
  display: none;
}

.subtopic__title-text{
  font-size: 1.175rem;
}

.element__language {
  width: 25%;
}

.profile__subinfos__language{
  max-width: 80%;
}

/* ------------------------------ モバイル① contact.html ------------------------------*/
.main__wrapper {
  display: block;
  margin: 0 auto;
}

.contactform {
  margin-right: 0;
}

.design__logo{
  display: none;
}

.textbox-wrapper {
  display: none;
}
}

/* ------------------------------ モバイル用② ------------------------------*/

@media (max-width: 415px){
  /* ------------------------------ モバイル② header -------------------------*/
.header {
  background-color: #d7cebb;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}

.header__inner{
  display: block;
  padding-top: 15px;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  }

.header-logo{
  width: 150px;
}

.header-nav {
  position: fixed;
  right: -50%;
  width: 50%;
  height: 100vh;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  background-color:rgba(0, 0, 0, 0.7);
  transition: .3s;
}

.header-nav.open {
  right: 0;
}

.header-nav__item {
  width: 100%;
  margin: 40px 0;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
}

.header-nav__link,
.header-sns__link {
  color: #fff;
  line-height: 0;
}

.header-sns__link:last-child {
  padding-left: 20px;
}

.header-nav__link:focus,
.header-nav__link:hover{
  border-bottom: none;
}

.btn__hamburger{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  z-index: 20;
}

.hamburger__line{
  width: 100%;
  height: 4px;
  background-color: #5b5c76;
  position: relative;
  border-radius: 2px;
  transition: .2s;
}

.hamburger__line::before,
.hamburger__line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0px;
  background-color: #5b5c76;
  border-radius: 2px;
  transition: .3s;
}

.hamburger__line::before {
  transform: translateY(-12px);
}

.hamburger__line::after {
  transform: translateY(12px);
}

.hamburger__line.open{
  background-color: transparent;
}

.hamburger__line.open::before,
.hamburger__line.open::after {
  content: "";
  background-color: #fff;
  transition: .2s;
}

.hamburger__line.open::before {
  transform: rotate(45deg);
}

.hamburger__line.open::after{
  transform: rotate(-45deg);
}

.content {
  margin-top: 83px;
}

.content__title {
  font-size: 1.5rem;
}

.topic__title {
  padding: 20px;;
}

.topic__title-text {
  font-size: 1.5rem;
}

.profile__maininfos{
  display: block;
}

.profile__img {
  width: 50%;
}

.profile__img-wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

.profile__img-wrapper:first-child {
  margin-right: 0;
}

.profile__text {
  flex: none;
  font-size: 1rem;
  justify-content: center;
}

.subinfos__basic {
  padding-bottom: 20px;
}

.profile__subinfos__items-element,
.subtopic__title-text{
  font-size: 1rem;
}

.profile__subinfos__laguage{
  max-width: 100%;
}

.skill__items {
  display: block;
  text-align: center;
  margin:0px auto;
  margin-bottom: 30px;
}

.skill__item-icon,
.skill__item-star{
  display: block;
  text-align: center;
  margin:0 auto;
}

.skill__item-icon__img{
  max-width: 50%;
  pointer-events: none;
}
.skill__item-star__img{
  max-width: 70%;
}

#page-top {
  opacity: .8;
}

footer{
  background-color: #d7cebb;
}

.contactform {
  width: 300px;
  height: 500px;
}

.contactform__item {
  padding: 25px 30px;
}

input {
  font: 15px/24px;
  font-family: sans-serif;
	box-sizing: border-box;
  width: 100%;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000;
	border: none;
	border-bottom: 2px solid #460720;
	background: transparent;
}

textarea {
  height: 200px;
}

.btn-wrapper {
  padding-top: 0;
}

}
