.c-main-logo-img {
  width: 48%;
  @include mq(sm){
   width: 70%;
   text-align: center;
  }
}

.c-profile__img {
  max-width: 300px;
  @include mq(sm){
  max-width: 200px;
  }
}

.c-woks-img-bg {
  background-color: #000;
}

.c-works-image {
  max-width: 900px;
  width: 100%;
  height: 500px;
  max-height: 100%;
  display: block;
  opacity: .4;
}
