.swiper-container {
  padding-top: 30px;
  padding-bottom: 50px;
  background: #eee;
}

.s-three-wrap {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.s-three-text,
.s-three-sub,
.s-three-button-pink,
.s-three-button-black {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  color: white;
}

.s-three-text {
  top: 20%;
  @include fs(35);
}

.s-three-text-desc {
  @include fs(15);
}

.s-three-sub {
  top: 55%;
  @include fs(15);
}

.c-btn-flex {
  display: flex;
  justify-content: center;
}

.s-three-button-pink {
  top: 75%;
  left: calc( 50% - 150px );
  display: block;
  width: 150px;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  background: $pink;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: all .25s ease;
    &:hover {
    background: white;
    color: $pink;
  }
}

.s-three-button-black {
  top: 75%;
  left:  50%;
  display: block;
  width: 150px;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  background: #000;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: all .25s ease;
    &:hover {
    background: white;
    color: #000;
  }
}

.swiper-slide-active {
  .s-three-text {
    animation: slideFromRight 1.5s ease 0s 1 normal;
  }

  .s-three-sub {
    animation: slideFromRightSub 2.0s ease 0s 1 normal;
  }

  .s-three-button-pink,
  .s-three-button-black {
    animation: slideFromRightBtn 2.5s ease 0s 1 normal;
  }
}

@keyframes slideFromRightBtn {
  0%, 65% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
